.header-container {
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: #F0FFFF;
}

.icon_container {
  margin: auto 0;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  margin: auto 0;
}

main {
  height: calc(100vh - 60px - 24px);
  width: 1000px;
  margin: 0 auto;
}