.tweet_form {
  margin: 15px auto 0;
  width: 750px;
}

.tweet_btn {
  text-align: right;
}

.tweet_container {
  margin: 0 auto;
  border: 1px solid;
  width: 500px;
  margin-top: 20px;
}

.tweet_content {
  text-align: center;
}

.img_content {
  text-align: center;
}

.user_container {
  display: flex;
  justify-content: space-around;
}